.browse__info {
  font-size: 40px;
  padding: 40px 0px;
}
.browse__cards {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 34px;
}
.browse__card {
  border-radius: 30px;
  background-color: #3B3B3B;
}
.browse__card img {
  width: 100%;
}
.browse__card__description {
  font-size: 20px;
  padding: 15px 20px;
}

@media (min-width: 706px) {
  .browse__cards {
    grid-template-columns: auto auto auto auto;
  }
  .browse__cards__card__description {
    font-size: 1px;
    padding: 15px 20px;
  }
}
.collection {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collection__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 145px;
}
.collection__discriptions {
  padding: 90px 0px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}
.collection__card2 {
  display: none;
}
.collection__card3 {
  display: none;
}
.collection__card__imgs {
  display: flex;
  gap: 15px;
  padding: 10px 0px;
}

@media (min-width: 520px) {
  .collection {
    padding: 30px;
    width: 100%;
  }
  .collection__discriptions {
    padding: 90px 0px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }
  .collection__card1 img {
    width: 110%;
  }
  .collection__card2 img {
    width: 110%;
  }
  .collection__card3 img {
    width: 110%;
  }
  .collection__cardsimg {
    width: 60%;
  }
  .collection__card2 {
    display: block;
  }
  .collection__card__imgs img {
    width: 32%;
  }
  .collection__cards__discreption img {
    width: 10%;
    margin: 3px 0px;
  }
  .collection__cards__discreption h2 {
    font-size: 90%;
  }
}
@media (min-width: 800px) {
  .collection__discriptions {
    font-size: 30px;
  }
  .collection__card2 {
    display: block;
  }
  .collection__card3 {
    display: block;
  }
}
.creators__title {
  font-size: 22px;
  display: flex;
  gap: 10px;
  padding: 20px 0px;
  flex-direction: column;
}
.creators__cards {
  width: 100%;
  display: grid;
  align-items: center;
  gap: 12px;
}
.creators__cards .creators__card__disctop {
  display: flex;
  align-items: center;
  background-color: #3B3B3B;
  width: 100%;
  align-items: center;
  padding: 12px 25px;
  border-radius: 10px;
  justify-content: space-around;
  display: none;
}
.creators__cards .creators__card__tablet {
  display: flex;
  align-items: center;
  background-color: #3B3B3B;
  width: 100%;
  align-items: center;
  padding: 12px 25px;
  border-radius: 10px;
  justify-content: space-around;
  display: none;
}
.creators__cards .creators__card {
  display: flex;
  background-color: #3B3B3B;
  width: 100%;
  align-items: center;
  padding: 12px 25px;
  border-radius: 10px;
  justify-content: space-around;
}
.creators__cards .creators__card__info {
  align-items: center;
  text-align: start;
}
.creators__cards .creators__card__info h5 {
  font-size: 30px;
}
.creators__cards .creators__card__info p {
  font-size: 25px;
  text-align: start;
  color: rgba(255, 255, 255, 0.43);
}
.creators__cards .creators__card__info .total__sales {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (min-width: 500px) {
  .creators .creators__card__info {
    text-align: center;
  }
  .creators__cards {
    grid-template-columns: auto auto;
  }
  .creators .creators__card__tablet {
    display: flex;
    width: 100%;
    height: 120px;
  }
  .creators .creators__card__tablet img {
    width: 40%;
  }
  .creators .creators__card__info {
    padding: 10px 30px;
    font-size: 12px;
  }
  .creators .creators__card__info h5 {
    font-size: 16px;
  }
  .creators .creators__card__info p {
    font-size: 12px;
  }
  .creators .creators__card__disctop {
    width: 80%;
    height: 120px;
  }
  .creators .creators__card__disctop img {
    width: 40%;
  }
  .creators .creators__card {
    width: 100%;
    height: 120px;
  }
  .creators .creators__card img {
    width: 40%;
  }
}
@media (min-width: 800px) {
  .creators__title {
    font-size: 23px;
    gap: 10px;
    display: flex;
    align-items: start;
    text-align: start;
  }
  .creators__cards {
    grid-template-columns: auto auto auto auto;
  }
  .creators .creators__card__tablet {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    width: 100%;
    height: 100%;
  }
  .creators .creators__card__disctop {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    width: 100%;
    height: 100%;
  }
  .creators .creators__card {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    width: 100%;
    height: 100%;
  }
}
.header {
  background: rgb(58, 29, 29);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0px;
  z-index: 999;
}
.header__shrink {
  box-shadow: 0px 0px 30px rgb(0, 81, 255);
}
.header__sign_up {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: blue;
}
.header__sign_up:hover {
  background-color: green;
}
.header__btn-hamburger {
  width: 20px;
  background: transparent;
  border: none;
  font-size: 23px;
}
.header__logo {
  font-size: 24px;
  font-weight: 500;
}
.header__list {
  padding: 120px 0px;
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;
  text-align: center;
  background: white;
}
.header__list a {
  background: white;
  color: blue;
  font-size: 18px;
  padding: 5px;
  border-radius: 3px;
  border: 2px solid;
}
.header__list-show {
  left: 0;
}

@media (min-width: 500px) {
  .header__sign_up {
    padding: 8px 12px;
    display: none;
  }
  .header__sign_up {
    padding: 8px 12px;
    display: flex;
  }
}
@media (min-width: 800px) {
  .header__list {
    background: transparent;
    position: static;
    flex-direction: row;
    height: auto;
    width: auto;
    padding: 10px;
    display: flex;
  }
  .header__list a {
    background: none;
    color: white;
    font-size: 18px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    display: flex;
  }
  .header .header__btns .header__btn-hamburger {
    display: none;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
  gap: 16px;
}
.hero__left {
  order: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: start;
  font-weight: 100;
}
.hero__left .hero__button {
  margin: 20px 0px;
  padding: 20px 60px;
  background: #A259FF;
  border: none;
  border-radius: 20px;
  font-size: large;
  display: flex;
  gap: 10px;
  align-items: center;
  display: none;
}
.hero__left .price {
  display: flex;
  align-items: center;
  display: none;
}
.hero__left .price .pice__row {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  width: 190px;
}
.hero__right {
  background-color: #3B3B3B;
  border-radius: 10px;
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0px 2px 30px 0px;
}
.hero__right__discreption {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 18px;
}
.hero__right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 300px;
  border-radius: 10px;
}
.hero__right__title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero__right__title img {
  width: 6%;
}

@media (min-width: 500px) {
  .hero {
    flex-direction: row;
  }
  .hero__left {
    font-size: 20px;
    align-items: start;
    text-align: left;
    width: 48%;
  }
  .hero__left h1 {
    width: 210px;
  }
  .hero__left p {
    width: 210px;
  }
  .hero__left .hero__button {
    display: block;
  }
  .hero__left .price {
    display: flex;
  }
  .hero__left .price .pice__row {
    font-size: 16px;
    width: 90px;
  }
  .hero__right {
    order: 2;
    width: 50%;
  }
  .hero__right img {
    max-height: 450px;
  }
}
@media (min-width: 1000px) {
  .hero {
    flex-direction: row;
  }
  .hero__left {
    font-size: 30px;
    align-items: start;
    text-align: left;
    width: 48%;
  }
  .hero__left h1 {
    width: 310px;
  }
  .hero__left p {
    width: 450px;
  }
  .hero__left .hero__button {
    display: block;
  }
  .hero__left .price {
    display: flex;
  }
  .hero__right {
    order: 2;
    width: 50%;
  }
  .hero__right img {
    max-height: 450px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

main {
  background-color: #2B2B2B;
}

button:hover {
  color: yellow;
}

body {
  background-color: #2B2B2B;
}

.discover {
  padding: 70px 0px;
}
.discover .discover__cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  justify-content: center;
  gap: 30px;
}
.discover .discover__cards .discover__card1 {
  padding: 0px 0px 30px 0px;
  background-color: #3B3B3B;
  border-radius: 33px;
}
.discover .discover__cards .discover__card1 img {
  width: 100%;
}
.discover .discover__cards .discover__card1 .discover__card__info {
  margin: 0px 30px;
}
.discover .discover__cards .discover__card1vf {
  padding: 0px 0px 30px 0px;
  background-color: #3B3B3B;
  border-radius: 33px;
  display: none;
}
.discover .discover__cards .discover__card1vf img {
  width: 100%;
}
.discover .discover__cards .discover__card1vf .discover__card__info {
  margin: 0px 30px;
}
.discover .discover__cards .discover__card1ff {
  padding: 0px 0px 30px 0px;
  background-color: #3B3B3B;
  border-radius: 33px;
  display: none;
}
.discover .discover__cards .discover__card1ff img {
  width: 100%;
}
.discover .discover__cards .discover__card1ff .discover__card__info {
  margin: 0px 30px;
}
.discover .discover__cards .discover__card2 {
  padding: 0px 0px 30px 0px;
  background-color: #3B3B3B;
  border-radius: 33px;
}
.discover .discover__cards .discover__card2 img {
  width: 100%;
}
.discover .discover__cards .discover__card2 .discover__card__info {
  margin: 0px 30px;
}
.discover .discover__cards .discover__card3 {
  padding: 0px 0px 30px 0px;
  background-color: #3B3B3B;
  border-radius: 22px;
}
.discover .discover__cards .discover__card3 img {
  width: 100%;
}
.discover .discover__cards .discover__card3 .discover__card__info {
  margin: 0px 30px;
}
.discover__title {
  padding: 70px 0px;
  font-size: 23px;
}
.discover__title p {
  color: rgba(255, 255, 255, 0.495);
}

@media (min-width: 500px) {
  .discover .discover__cards .discover__card1vf {
    display: block;
  }
}
@media (min-width: 800px) {
  .discover .discover__cards .discover__card1vf {
    display: block;
  }
  .discover .discover__cards .discover__card1ff {
    display: block;
  }
}
.footer {
  background-color: #3B3B3B;
  width: 100%;
  padding: 20px 30px;
  margin-top: 20px;
}
.footer p {
  color: #CCCCCC;
}
.footer .footer__cards {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: 33px;
}
.footer .footer__cards .marketplace__card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .footer__cards .marketplace__card .nft__marketplace {
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.footer .footer__cards .marketplace__card__icons {
  font-size: 23px;
  display: flex;
  gap: 11px;
}
.footer .footer__cards .marketplace__card__icons i {
  color: #CCCCCC;
}
.footer .footer__cards .explore__card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .footer__cards .explore__card__title {
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.footer .footer__cards .join__card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .footer__cards .join__card__title {
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.footer .footer__cards .join__card .footer__input {
  display: grid;
  gap: 15px;
}
.footer .footer__cards .join__card .footer__input input {
  padding: 12px 40px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
}
.footer .footer__cards .join__card .footer__input .footer__button {
  background-color: #A259FF;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
}
.footer .footer__cards .join__card .footer__input .footer__button i {
  margin-right: 10px;
}
.footer .footer__ending {
  font-size: 12px;
  border-top: 2px solid #858584;
  margin: 22px 0px;
  padding: 20px 0px;
}

@media (min-width: 500px) {
  .footer .join__card .footer__input .footer__button {
    display: none;
  }
  .footer .join__card .footer__input input {
    display: none;
  }
  .footer .join__card .footer__search2 .footer__input2 {
    padding: 10px 10px;
    border: none;
    border-radius: 9px;
  }
  .footer .join__card .footer__search2 .footer__button2 {
    background-color: #A259FF;
    position: absolute;
    font-size: 14px;
    padding: 10px 10px;
    border: none;
    border-radius: 9px;
    left: 142px;
  }
}
@media (min-width: 800px) {
  .footer {
    padding: 34px 110px;
  }
  .footer .footer__cards {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 33px;
  }
  .footer .footer__cards .footer__search2 {
    width: 220px;
    position: relative;
  }
  .footer .footer__cards .footer__search2 .footer__button2 {
    background-color: #A259FF;
    position: absolute;
    font-size: 14px;
    padding: 10px 10px;
    border: none;
    border-radius: 9px;
  }
}
.login__page {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.login__page .login__img img {
  width: 100%;
  height: 100%;
}
.login__page .login__input {
  padding: 20px 30px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30px;
  gap: 5px;
}
.login__page .login__input input {
  border: none;
  border-radius: 17px;
  padding: 14px;
}
.login__page .login__input button {
  border: none;
  border-radius: 17px;
  padding: 14px;
  background-color: #A259FF;
}

@media (min-width: 500px) {
  .login__page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
  }
  .login__page .login__input {
    width: 90%;
    height: 80%;
    gap: 10px;
  }
}
@media (min-width: 800px) {
  .login__page .login__input {
    width: 70%;
    height: 80%;
    gap: 10px;
  }
}
.mashrooms {
  width: 100%;
  background-image: url(../img/mush-mush.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
  background-position: center;
  justify-content: center;
  padding: 190px 100px 30px 100px;
}
.mashrooms__info {
  display: grid;
  justify-content: center;
  align-items: end;
  gap: 30px;
}
.mashrooms__info .mashrooms__info__left {
  display: grid;
  gap: 12px;
}
.mashrooms__info .mashrooms__info__left h1 {
  font-size: 38px;
  width: 50px;
}
.mashrooms__info .mashrooms__info__left .shroomie {
  width: 100%;
  display: flex;
  background-color: #3B3B3B;
  border-radius: 23px;
  padding: 10px 20px;
  gap: 10px;
}
.mashrooms__info .mashrooms__info__left .see__nft {
  display: flex;
  background-color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.mashrooms__info .mashrooms__info__left .see__nft i {
  color: blue;
}
.mashrooms__info .mashrooms__info__left .see__nft p {
  color: black;
  font-weight: 500;
  font-size: 15px;
}

@media (min-width: 700px) {
  .mashrooms__info {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
}
.works {
  padding: 120px 0px;
}
.works__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.works__info .works__title {
  font-size: 35px;
}
.works__info .works__discription {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.597);
}
.works__cords {
  display: grid;
  gap: 17px;
  align-items: center;
}
.works__cords .works__card {
  padding: 20px 11px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  background-color: #3B3B3B;
}
.works__cords .works__card img {
  width: 70%;
}
.works__cords .works__card .work__right {
  display: grid;
  gap: 10px;
}
.works__cords .works__card .work__right p {
  color: rgba(255, 255, 255, 0.727);
}

@media (min-width: 700px) {
  .works__cords {
    grid-template-columns: auto auto auto;
    width: 100%;
    justify-content: center;
    gap: 90px;
    margin: 0 auto;
    padding: 70px 0px;
  }
  .works__cords .works__card {
    grid-template-columns: auto;
    justify-content: center;
    padding: 30px 20px;
  }
  .works__cords .works__card .works__img__card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .works__cords .works__card .works__img__card img {
    width: 50%;
  }
  .works__cords .works__card .work__right {
    text-align: center;
  }
}
.weekly {
  display: grid;
  grid-template-columns: auto;
  background-color: #3B3B3B;
  padding: 50px 50px;
  border-radius: 10px;
  gap: 50px;
}
.weekly .weekly__left img {
  width: 100%;
  height: 100%;
}
.weekly .weekly__right .join__card .join__card__title {
  font-size: 50px;
}
.weekly .weekly__right .join__card p {
  font-size: 24px;
}
.weekly .weekly__right .join__card .footer__input {
  display: grid;
  gap: 15px;
}
.weekly .weekly__right .join__card .footer__input input {
  padding: 12px 40px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
}
.weekly .weekly__right .join__card .footer__input .footer__button {
  background-color: #A259FF;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
}
.weekly .weekly__right .join__card .footer__input .footer__button i {
  margin-right: 10px;
}

@media (min-width: 700px) {
  .weekly {
    grid-template-columns: auto auto;
    gap: 120px;
  }
  .weekly .weekly__right {
    width: 60%;
  }
}
.artist__hero {
  width: 100%;
  position: relative;
}
.artist__hero .artist_animakid_img {
  position: absolute;
  left: 8%;
  bottom: -14%;
  width: 110px;
  height: 110px;
}
.artist__hero img {
  width: 100%;
}

.animaked {
  padding: 30px 8%;
  width: 100%;
}
.animaked h1 {
  font-size: 38px;
  padding: 40px 0px 0px 0px;
}
.animaked .animakid__left {
  display: grid;
  gap: 20px;
  width: 100%;
  font-size: 21px;
}
.animaked .animakid__left .animakid__icons {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: rgba(255, 255, 255, 0.31);
}
.animaked .animakid__left .animakid__price {
  display: grid;
  grid-template-columns: auto auto auto;
}
.animaked .animakid__right {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding-bottom: 40px;
  padding: 12px 3px;
}
.animaked .animakid__right .animakid__button__copy {
  background-color: #A259FF;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 40px;
}
.animaked .animakid__right .animakid__button__follow {
  border: 2px solid #A259FF;
  background-color: inherit;
  border-radius: 10px;
  width: 100%;
  height: 40px;
}

.artist__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}
.artist__link .artist__link__title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
}
.artist__link .artist__link__title p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.artist__link .artist__link__title p span {
  background-color: gray;
  color: white;
  border-radius: 20px;
  padding: 3px 11px;
}

@media (min-width: 568px) {
  .animaked {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
  }
  .animaked .discover__card1 {
    display: none;
  }
  .animaked .animakid__right {
    display: flex;
    width: 220px;
  }
}