.creators{
    &__title{
        font-size: 22px;
        display: flex;
        gap: 10px;
        padding: 20px 0px;
        flex-direction: column;
    }


    &__cards{
        width: 100%;
        display: grid;
        align-items: center;
        gap: 13px;

        .creators__card__disctop{
            display: flex;
            align-items: center;
            background-color: #3B3B3B;
            width: 100%;
            align-items: center;
            padding: 12px 25px;
            border-radius: 10px;
            justify-content: space-around;
            display: none;
        }


        .creators__card__tablet{
            display: flex;
            align-items: center;
            background-color: #3B3B3B;
            width: 100%;
            align-items: center;
            padding: 12px 25px;
            border-radius: 10px;
            justify-content: space-around;
            display: none;

        }

        .creators__card{
            display: flex;
            background-color: #3B3B3B;
            width: 100%;
            align-items: center;
            padding: 12px 25px;
            border-radius: 10px;
            justify-content: space-around;

            &__info{
                align-items: center;
                text-align: start;
                
                h5{
                    font-size: 30px;
                }

                p{
                    font-size: 25px;
                    text-align: start;
                    color: rgba(255, 255, 255, 0.43);
                }

                .total__sales{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
            }
        }
    }
}


@media (min-width: 706px){
    .creators{
        &__title{
            font-size: 23px;
            flex-direction: column;
            display: flex;
            // gap: 10px;
            // padding: 22px 0px;
            // align-items: start;
        }
        .creators__card__info{
            text-align: center;

        }

        &__cards{
            grid-template-columns: auto auto;
            gap: 40px;
        }

        .creators__card__tablet{
            display: flex;
            width: 100%;
        }

        .creators__card{
            width: 100%;
        }
    }
}


@media (min-width: 800px){
    .creators{

        &__title{
            font-size: 23px;
            gap: 10px;
            display: flex;
            align-items: start;
            text-align: start;
        }

        &__cards{
            grid-template-columns: auto auto auto auto;
    
        }

        .creators__card__tablet{
            display: flex;
            flex-direction: column;
            padding: 40px 0px;
            width: 100%;
            
        }

        .creators__card__disctop{
            display: flex;
            flex-direction: column;
            padding: 40px 0px;
            
        }
        


        .creators__card{
            display: flex;
            flex-direction: column;
            padding: 40px 0px;
            width: 100%;
            
        }
    }
}