.mashrooms{
    width: 100%;
    background-image: url(../img/mush-mush.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    background-position: center;
    justify-content: center;
    padding: 190px 100px 30px 100px;

    &__info{
        display: grid;
        justify-content: center;
        align-items: end;
        gap: 30px;

        .mashrooms__info__left{
            display: grid;
            gap: 12px;

            h1{
                font-size: 38px;
                width: 50px;
            }
            .shroomie{
                width: 100%;
                display: flex;
                background-color: #3B3B3B;
                border-radius: 23px;
                padding: 10px 20px;
                gap: 10px;
                
            }

            .see__nft{
                display: flex;
                background-color: white;
                padding: 12px 30px;
                border: none;
                border-radius: 10px;
                
                display: flex;
                gap: 10px;
                align-items: center;
                i{
                    color: blue;
                }
               
                p{
                    color: black;
                    font-weight: 500;
                    font-size: 15px;
                }
                
            }
        }

    }
}

@media (min-width:700px){
    .mashrooms{
        &__info{
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
        }
    }
}